<mat-card class="image-card">
  <img class="img-card" mat-card-image src={{image.url}} alt={{image.caption}}>
  <mat-card-actions>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Type the words to say</mat-label>
        <textarea class="tex-input" value={{image.caption}} matInput placeholder="Ex. Hello this is a car..." [(ngModel)]="caption" name="caption"></textarea>
      </mat-form-field>
    <button mat-button (click)="saveCaption()">Save Caption</button>
    <button mat-button (click)="delete()">Delete Image</button>
  </mat-card-actions>
</mat-card>
