.compact-nav{
  display: flex;
  align-items: center;
  column-gap: 10px;
  z-index: 2;
  position: fixed;
}

.nav-container{
  z-index: 2;
  position: fixed;
}

.normal-nav{
  display: flex;
  width: 100vw;

  .nav-button{
    margin-left: 10px;
  }
}

.logout-button{
  margin-left: auto;
}


mat-toolbar{
  .active{
    background-color: white;
    color: black;
  }

}
