.compact-nav{
  display: flex;
  align-items: center;
  column-gap: 10px;
  z-index: 2;
  position: fixed;
}

.normal-nav{
  z-index: 2;
  position: fixed;
}


mat-toolbar{
  .active{
    background-color: white;
    color: black;
  }

  button{
    margin-left: 10px;
  }
}
