body{
  margin-top:0px;
  margin-left: 0px;
  margin-right: 0px;
}


.page-container{
  padding:10px 10px 5px;

  img{
    cursor: pointer;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
