<mat-nav-list>
  <a mat-list-item routerLink="/images" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>collections</mat-icon> <span class="side-nav-title">Images</span>
  </a>
  <a mat-list-item routerLink="/upload" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>add_to_photos</mat-icon> <span class="side-nav-title">Upload</span>
  </a>
  <a mat-list-item routerLink="/manage" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>description</mat-icon> <span class="side-nav-title">Manage Images</span>
  </a>
</mat-nav-list>
