.card {
  max-width: 80vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card-img{
    max-width: 80vw;
    width: 300px;
    height: auto;
  }

  .mat-card-content{
    max-width: 80vw;
    width: 400px;
    height: auto;
    overflow-y: auto;

    p {
      line-height: 50px;
      font-size: 30px;
    }
  }

  .mat-card-actions{
    margin-top: auto;
  }
}

.image-container{
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
